<h1 align="center">FAQ's</h1>
<div class="media">
	<div class="media body">
		<ul>
			<li>
				<p class="lead">What is the Bantam E-market?</p>
				<p>The Bantam E-Market is an online platform where Trinity students can post any item they want to sell so that others in the the community can purchase them. Alternatively, one could post an item they want to buy, so that other users who own such item can sell it.</p>
			</li>
			<p></p>
			
			<li>
				<p class="lead">How does the Bantam E-market work?</p>
				<p>Go to "All Posts" and create a new post. Then wait until someone contacts you and determine the final terms of the transaction with them.</p>
			</li>

			<li>
				<p class="lead">Does the Bantam E-market manage payments?</p>
				<p>No, we do not manage the monetary transactions between users. You must get in contact with the buyer or seller and aggree on a date to meet and determine the final price of the transaction.</p>
			</li>

			<li>
				<p class="lead">Why use the Bantam E-Market instead of Ebay, Amazon or any other online market?</p>
				<p>The Bantam E-Market is only used by the Trinity Community. This has many advantages:
					<ul>
						<li> No shipping costs</li>
						<li> Buying items from the Trinity Community ensures that you can see what you are buying <em>before</em> buying it.</li>
						<li> Books owned by Trinity students are probably the exact edition and come from the same publisher as the one you will need.</li>
						<li> You can trust other members of the Trinity Community as opposed to having to trust someone you have never seen and will never meet in your life</li>
					</ul>
				</p>
			</li>

			<li> 
				<p class="lead">Need more answers?</p>
				<p> Read our "About Us" page or send us an email, we will answer any further questions you have.</p>
			</li>
		</ul>

		
	<div>
<div>


